* text=auto eol=lf

*.php linguist-detectable=true
*.js linguist-vendored
*.blade.php linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
*.scss linguist-vendored
*.md linguist-vendored
*.less linguist-vendored

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
