* text=auto eol=lf

*.php linguist-detectable=true
*.js linguist-detectable=false
*.blade.php linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
*.scss linguist-detectable=false
*.less linguist-detectable=false
*.md linguist-detectable=false

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
